In [85]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import pandas as pd

In [86]:
# Load the dataset
df = pd.read_csv('summary.csv', encoding='ISO-8859-1')

In [87]:
# Check the structure of the data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   626 non-null    int64
 1   Country                626 non-null    object
 2   Total_Medals           626 non-null    int64
 3   Gold_Medals            626 non-null    int64
 4   Silver_Medals          626 non-null    int64
 5   Bronze_Medals          626 non-null    int64
 6   Total_Athletes         626 non-null    int64
 7   Events_Count           626 non-null    int64
 8   Host_or_Not            626 non-null    int64
 9   Country_Code           626 non-null    object
 10  population_total       626 non-null    int64
 11  population_growth      626 non-null    float64
 12  GNI_per_capita         626 non-null    int64
 13  GDP                    626 non-null    float64
 14  GDP_growth             626 non-null    float64
 15  Region                 626 non-null    object
 16  GDP_per_capita         626 non-null    float64
 17  Population_Percentage  626 non-null    float64
 18  GDP_Percentage         626 non-null    float64
 19  HDI                    626 non-null    float64
dtypes: float64(7), int64(10), object(3)
memory usage: 97.9+ KB
None

#### Update the 'Country' column where 'Country_Code' is 'ROC'

In [7]:
# Update the 'Country' column where 'Country_Code' is 'ROC'

df.loc[df['Country_Code'] == 'ROC', 'Country'] = 'Russia'

# Verify the update
print(df[df['Country_Code'] == 'ROC'])

     Year Country  Total_Medals  Gold_Medals  Silver_Medals  Bronze_Medals  \
539  2020  Russia            71           20             28             23

     Total_Athletes  Events_Count  Host_or_Not Country_Code  population_total  \
539             318           204            0          ROC         145245148

     population_growth  GNI_per_capita           GDP  GDP_growth  \
539          -0.143202           10660  1.493080e+12   -2.653655

                      Region  GDP_per_capita  Population_Percentage  \
539  Europe and Central Asia     10108.32715               0.018664

     GDP_Percentage    HDI
539        0.017661  0.824

In [8]:
# View the first few rows
df.head()

,Year,Country,Total_Medals,Gold_Medals,Silver_Medals,Bronze_Medals,Total_Athletes,Events_Count,Host_or_Not,Country_Code,population_total,population_growth,GNI_per_capita,GDP,GDP_growth,Region,GDP_per_capita,Population_Percentage,GDP_Percentage,HDI
0,2008,Afghanistan,1,0,0,1,4,4,0,AFG,26427200,2.00233,370,1.010930e+10,3.92498,South Asia,382.534,0.003906,0.000159,0.437
1,2012,Afghanistan,1,0,0,1,6,6,0,AFG,30466500,4.07763,640,1.990730e+10,12.75230,South Asia,653.417,0.004288,0.000265,0.482
2,1992,Algeria,2,1,0,1,35,27,0,ALG,26748300,2.32375,1920,4.800310e+10,1.80000,Middle East and North Africa,1794.620,0.004918,0.001912,0.587
3,1996,Algeria,3,2,0,1,45,29,0,ALG,28984600,1.76332,1530,4.694160e+10,4.10000,Middle East and North Africa,1619.530,0.005015,0.001489,0.608
4,2000,Algeria,5,1,1,3,47,42,0,ALG,30774600,1.40229,1610,5.479040e+10,3.80000,Middle East and North Africa,1780.380,0.005036,0.001637,0.644

In [9]:
# Create a duplicate of the DataFrame
df2 = df.copy()

In [10]:
df2

,Year,Country,Total_Medals,Gold_Medals,Silver_Medals,Bronze_Medals,Total_Athletes,Events_Count,Host_or_Not,Country_Code,population_total,population_growth,GNI_per_capita,GDP,GDP_growth,Region,GDP_per_capita,Population_Percentage,GDP_Percentage,HDI
0,2008,Afghanistan,1,0,0,1,4,4,0,AFG,26427200,2.002330,370,1.010930e+10,3.924980,South Asia,382.534000,0.003906,0.000159,0.437
1,2012,Afghanistan,1,0,0,1,6,6,0,AFG,30466500,4.077630,640,1.990730e+10,12.752300,South Asia,653.417000,0.004288,0.000265,0.482
2,1992,Algeria,2,1,0,1,35,27,0,ALG,26748300,2.323750,1920,4.800310e+10,1.800000,Middle East and North Africa,1794.620000,0.004918,0.001912,0.587
3,1996,Algeria,3,2,0,1,45,29,0,ALG,28984600,1.763320,1530,4.694160e+10,4.100000,Middle East and North Africa,1619.530000,0.005015,0.001489,0.608
4,2000,Algeria,5,1,1,3,47,42,0,ALG,30774600,1.402290,1610,5.479040e+10,3.800000,Middle East and North Africa,1780.380000,0.005036,0.001637,0.644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,2020,Ghana,1,0,0,1,14,6,0,GHA,32180401,2.066269,2230,7.004310e+10,0.513942,Sub-Saharan Africa,2176.576218,0.004135,0.000829,0.611
622,2020,Grenada,1,0,0,1,6,2,0,GRD,123663,0.762219,7890,1.043411e+09,-13.756622,Latin America and Caribbean,8437.536782,0.000016,0.000012,0.779
623,2020,Kuwait,1,0,0,1,10,4,0,KWT,4360444,-1.832821,32790,1.075130e+11,-5.274021,Middle East and North Africa,24656.433710,0.000560,0.001272,0.806
624,2020,Moldova,1,0,0,1,19,16,0,MDA,2635130,-1.098032,4360,1.153075e+10,-8.275978,Europe and Central Asia,4375.778893,0.000339,0.000136,0.769
625,2020,Syria,1,0,0,1,6,4,0,SYR,20772595,3.300177,780,1.115589e+10,-0.182330,Middle East and North Africa,537.048371,0.002669,0.000132,0.561

#### List of columns to convert from int64 to float64

In [107]:
# List of columns to convert from int64 to float64
int64_columns = [
    'Total_Medals', 'Gold_Medals', 'Silver_Medals', 'Bronze_Medals',
    'Total_Athletes', 'Events_Count', 'Host_or_Not', 'population_total',
    'GNI_per_capita'
]

# Convert the specified columns to float64
df2[int64_columns] = df2[int64_columns].astype(float)
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   626 non-null    int64
 1   Country                626 non-null    object
 2   Total_Medals           626 non-null    float64
 3   Gold_Medals            626 non-null    float64
 4   Silver_Medals          626 non-null    float64
 5   Bronze_Medals          626 non-null    float64
 6   Total_Athletes         626 non-null    float64
 7   Events_Count           626 non-null    float64
 8   Host_or_Not            626 non-null    float64
 9   Country_Code           626 non-null    object
 10  population_total       626 non-null    float64
 11  population_growth      626 non-null    float64
 12  GNI_per_capita         626 non-null    float64
 13  GDP                    626 non-null    float64
 14  GDP_growth             626 non-null    float64
 15  Region                 626 non-null    object
 16  GDP_per_capita         626 non-null    float64
 17  Population_Percentage  626 non-null    float64
 18  GDP_Percentage         626 non-null    float64
 19  HDI                    626 non-null    float64
dtypes: float64(16), int64(1), object(3)
memory usage: 97.9+ KB
None

In [108]:
df2

,Year,Country,Total_Medals,Gold_Medals,Silver_Medals,Bronze_Medals,Total_Athletes,Events_Count,Host_or_Not,Country_Code,population_total,population_growth,GNI_per_capita,GDP,GDP_growth,Region,GDP_per_capita,Population_Percentage,GDP_Percentage,HDI
0,2008,Afghanistan,1.0,0.0,0.0,1.0,4.0,4.0,0.0,AFG,26427200.0,2.002330,370.0,1.010930e+10,3.924980,South Asia,382.534000,0.003906,0.000159,0.437
1,2012,Afghanistan,1.0,0.0,0.0,1.0,6.0,6.0,0.0,AFG,30466500.0,4.077630,640.0,1.990730e+10,12.752300,South Asia,653.417000,0.004288,0.000265,0.482
2,1992,Algeria,2.0,1.0,0.0,1.0,35.0,27.0,0.0,ALG,26748300.0,2.323750,1920.0,4.800310e+10,1.800000,Middle East and North Africa,1794.620000,0.004918,0.001912,0.587
3,1996,Algeria,3.0,2.0,0.0,1.0,45.0,29.0,0.0,ALG,28984600.0,1.763320,1530.0,4.694160e+10,4.100000,Middle East and North Africa,1619.530000,0.005015,0.001489,0.608
4,2000,Algeria,5.0,1.0,1.0,3.0,47.0,42.0,0.0,ALG,30774600.0,1.402290,1610.0,5.479040e+10,3.800000,Middle East and North Africa,1780.380000,0.005036,0.001637,0.644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,2020,Ghana,1.0,0.0,0.0,1.0,14.0,6.0,0.0,GHA,32180401.0,2.066269,2230.0,7.004310e+10,0.513942,Sub-Saharan Africa,2176.576218,0.004135,0.000829,0.611
622,2020,Grenada,1.0,0.0,0.0,1.0,6.0,2.0,0.0,GRD,123663.0,0.762219,7890.0,1.043411e+09,-13.756622,Latin America and Caribbean,8437.536782,0.000016,0.000012,0.779
623,2020,Kuwait,1.0,0.0,0.0,1.0,10.0,4.0,0.0,KWT,4360444.0,-1.832821,32790.0,1.075130e+11,-5.274021,Middle East and North Africa,24656.433710,0.000560,0.001272,0.806
624,2020,Moldova,1.0,0.0,0.0,1.0,19.0,16.0,0.0,MDA,2635130.0,-1.098032,4360.0,1.153075e+10,-8.275978,Europe and Central Asia,4375.778893,0.000339,0.000136,0.769
625,2020,Syria,1.0,0.0,0.0,1.0,6.0,4.0,0.0,SYR,20772595.0,3.300177,780.0,1.115589e+10,-0.182330,Middle East and North Africa,537.048371,0.002669,0.000132,0.561

In [117]:
df5 = df2.copy()

### Normalizing Fields 

### 01.Z-score Normalize
Total_Medals, 
Total_Athletes, 
Events_Count,
population_total,
GNI_per_capita ,
GDP ,
GDP_per_capita,
population_growth,
GDP_growth

### 02.Binary Encoding
Host_or_Not

### 03.One Hot Encoding
Region

### Z-Score Normalization

In [119]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Load your DataFrame (assuming df3 is your DataFrame)
# df3 = pd.read_csv('your_data_file.csv')  # Uncomment if needed

# Features to normalize
features_to_normalize = [
    'Total_Athletes', 'Events_Count', 'population_total', 
    'GNI_per_capita', 'GDP', 'GDP_per_capita', 
    'population_growth', 'GDP_growth'
]

# Initialize the scaler
scaler = StandardScaler()

# Apply Z-score normalization
df5[features_to_normalize] = scaler.fit_transform(df5[features_to_normalize])

# Verify the normalization
print(df5[features_to_normalize].head())

   Total_Athletes  Events_Count  population_total  GNI_per_capita       GDP  \
0       -0.909225     -1.094445         -0.201312       -0.871121 -0.335401
1       -0.893399     -1.062387         -0.180556       -0.856100 -0.330329
2       -0.663915     -0.725781         -0.199662       -0.784889 -0.315785
3       -0.584783     -0.693723         -0.188171       -0.806586 -0.316335
4       -0.568956     -0.485347         -0.178973       -0.802136 -0.312272

   GDP_per_capita  population_growth  GDP_growth
0       -0.878810           0.932791    0.334188
1       -0.864108           2.676930    2.167613
2       -0.802169           1.202921   -0.107168
3       -0.811672           0.731920    0.370539
4       -0.802942           0.428501    0.308230

### One Hot Encoding

In [120]:

print(df5.columns)

Index(['Year', 'Country', 'Total_Medals', 'Gold_Medals', 'Silver_Medals',
       'Bronze_Medals', 'Total_Athletes', 'Events_Count', 'Host_or_Not',
       'Country_Code', 'population_total', 'population_growth',
       'GNI_per_capita', 'GDP', 'GDP_growth', 'Region', 'GDP_per_capita',
       'Population_Percentage', 'GDP_Percentage', 'HDI'],
      dtype='object')

In [121]:
# Apply one-hot encoding to the 'Region' column
df5_encoded = pd.get_dummies(df5, columns=['Region'], drop_first=True)

# Verify the encoding
print(df5_encoded.head())

   Year      Country  Total_Medals  Gold_Medals  Silver_Medals  Bronze_Medals  \
0  2008  Afghanistan           1.0          0.0            0.0            1.0
1  2012  Afghanistan           1.0          0.0            0.0            1.0
2  1992      Algeria           2.0          1.0            0.0            1.0
3  1996      Algeria           3.0          2.0            0.0            1.0
4  2000      Algeria           5.0          1.0            1.0            3.0

   Total_Athletes  Events_Count  Host_or_Not Country_Code  ...  \
0       -0.909225     -1.094445          0.0          AFG  ...
1       -0.893399     -1.062387          0.0          AFG  ...
2       -0.663915     -0.725781          0.0          ALG  ...
3       -0.584783     -0.693723          0.0          ALG  ...
4       -0.568956     -0.485347          0.0          ALG  ...

   GDP_per_capita  Population_Percentage  GDP_Percentage    HDI  \
0       -0.878810               0.003906        0.000159  0.437
1       -0.864108               0.004288        0.000265  0.482
2       -0.802169               0.004918        0.001912  0.587
3       -0.811672               0.005015        0.001489  0.608
4       -0.802942               0.005036        0.001637  0.644

   Region_Europe and Central Asia  Region_Latin America and Caribbean  \
0                               0                                   0
1                               0                                   0
2                               0                                   0
3                               0                                   0
4                               0                                   0

   Region_Middle East and North Africa  Region_North America  \
0                                    0                     0
1                                    0                     0
2                                    1                     0
3                                    1                     0
4                                    1                     0

   Region_South Asia  Region_Sub-Saharan Africa
0                  1                          0
1                  1                          0
2                  0                          0
3                  0                          0
4                  0                          0

[5 rows x 25 columns]

## ML Model

In [122]:
# Assuming 'Year' is in your DataFrame and it's numeric or convertible
df_train = df5_encoded[df5_encoded['Year'].between(1992, 2016)]
df_test = df5_encoded[df5_encoded['Year'] == 2020]

# Features and target variable
X_train = df_train[['Total_Athletes', 'Events_Count', 'population_total', 'GNI_per_capita', 'GDP', 'GDP_per_capita', 
                    'population_growth', 'GDP_growth', 'Host_or_Not', 'HDI', 'Population_Percentage', 'GDP_Percentage'] + [col for col in df_train.columns if col.startswith('Region_')]]

y_train = df_train['Total_Medals']

X_test = df_test[['Total_Athletes', 'Events_Count', 'population_total', 'GNI_per_capita', 'GDP', 'GDP_per_capita', 
                  'population_growth', 'GDP_growth', 'Host_or_Not', 'HDI', 'Population_Percentage', 'GDP_Percentage'] + [col for col in df_test.columns if col.startswith('Region_')]]

y_test = df_test['Total_Medals']

### 1. Training the Linear Regression Model

In [126]:

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Initialize and train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict
predictions = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 57.17083588056801

#### Predicted Medals for Countries in 2020

In [128]:
# Optional: Print first few predictions vs actual values
print(pd.DataFrame({'Actual': y_test, 'Predicted': predictions},).head(10))

     Actual   Predicted
535   113.0  128.420512
536    88.0   89.682660
537    58.0   63.979280
538    65.0   40.608143
539    71.0   33.164105
540    46.0   46.287141
541    36.0   25.957933
542    33.0   42.764782
543    37.0   48.866744
544    40.0   37.481068

In [129]:

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

print(f'Mean Squared Error (MSE): {mse}')
print(f'R² Score: {r2}')

Mean Squared Error (MSE): 57.17083588056801
R² Score: 0.8440382071171717