R² score: 0.8862221121039306
Training MSE: 5.8233288889915364
Testing MSE: 34.22912010780919

                 Country  Original_Medals  Predicted_Medals
448                Sudan                1          3.336000
486              Tunisia                3          3.370333
215              Hungary               15         14.105747
212              Hungary               17         13.040509
481  Trinidad and Tobago                2          2.457500
..                   ...              ...               ...
346          New Zealand                9          9.085394
228            Indonesia                5          3.421294
606               Jordan                2          1.738000
188              Germany               82         53.868000
398              Romania                4          7.442696

[126 rows x 3 columns]

In [12]:
print(X_test.shape)

(91, 15)

In [11]:
print(X_test.columns)
print(X_train.columns)

Index(['Host_or_Not', 'population_growth', 'GDP_growth', 'HDI',
       'Region_East Asia and Pacific', 'Region_Europe and Central Asia',
       'Region_Latin America and Caribbean',
       'Region_Middle East and North Africa', 'Region_North America',
       'Region_South Asia', 'Region_Sub-Saharan Africa', 'GDP_PCA',
       'population_PCA', 'income_PCA', 'athletes_PCA'],
      dtype='object')
Index(['Host_or_Not', 'population_growth', 'GDP_growth', 'HDI',
       'Region_East Asia and Pacific', 'Region_Europe and Central Asia',
       'Region_Latin America and Caribbean',
       'Region_Middle East and North Africa', 'Region_North America',
       'Region_South Asia', 'Region_Sub-Saharan Africa', 'GDP_PCA',
       'population_PCA', 'income_PCA', 'athletes_PCA'],
      dtype='object')

In [2]:
import pickle
pickle_out = open("model.pkl","wb")
pickle.dump(model,pickle_out)
pickle_out.close()